<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=iso-8859-1">
<title>FileProvider</title>
</head>
<body>
Current path: <% print target %>
<ul>
<% for(File f : dirs) { %>
<li>DIR: <a href="<%print target + '/' + f.getName()%>"><%print f.getName()%></a></li>
<% } %>
<% for(File f : files) { %>
<li>FILE: <a href="<%print target + '/' + f.getName()%>"><%print f.getName()%></a></li>
<% } %>
</ul>
</body>
</html>